![DSB logo](img/Dolan.jpg)
# Assemble Data Together

## PD4E Chapter 4: Data Assembly
### How do you read/manipulate/store data in Python?

# What You Learned in Python/Pandas that could Apply Here

You will need following knowledge from the first half of this course:
1. loading data
2. subsetting data
3. functions

# What You will Learn in this Chapter
You will learn following techniques in this chapter:
1. The concept of __tidy data__
2. concatenating data
3. merging datasets

# What is 'Tidy Data'?

- In general, tidy data is a framework to structure data so that they can be easily analyzed
- Hadley Wickham defines tidy data as meeting the following requirements:
    - Each row is an observation
    - Each column is a feature
    - Each type of observation unit forms a table
    - more details are covered in Chap. 6 and more in BA 545
- Read section 4.2.1 on your own

# Concatenation
- Concatenation can be considered as adding column/row to your data
    - this operation is useful when you try to combine different parts of data together
    - `Pandas` provides a `concat()` function for this purpose
    - in analytics, often you collect data in different parts
        - so combining them are necessary
    - in other scenarios, you may create versions of data where you perform calculations on
        - then you may want to combine the calculated results back to the original data

In [55]:
# adding new DataFrames as rows
# importing pandas first

import pandas as pd

# read in different parts of data
# please change your PATH to `'/srv/data/my_shared_data_folder/ba505-data/concat_1.csv'`
df1 = pd.read_csv('./data/concat_1.csv')
# please change your PATH to `'/srv/data/my_shared_data_folder/ba505-data/concat_2.csv'`
df2 = pd.read_csv('./data/concat_2.csv')
# please change your PATH to `'/srv/data/my_shared_data_folder/ba505-data/concat_3.csv'`
df3 = pd.read_csv('./data/concat_3.csv')

df1

FileNotFoundError: [Errno 2] File b'./data/concat_1.csv' does not exist: b'./data/concat_1.csv'

In [ ]:
# concatenate data
# make sure you include different parts in a list
row_concat = pd.concat([df1, df2, df3])
row_concat

# What Happened Above?
- `concat` blindly stack the DataFrames together
    - the row indices are stacked together
    - this will cause a problem (row indices have to be _unique_)

In [ ]:
# let's subset the fourth row the concatenated DF
row_concat.iloc[3,]

In [ ]:
# Create a new Series of data
new_series = pd.Series(['n1', 'n2', 'n3', 'n4'])

# let's try to concat this new series to the `df1` as a new row
pd.concat([df1, new_series])

# What Happend Above?
- `NaN` is the `Pandas` telling us regarding _missing values_
    - we are going to deal with them in Chap. 5
- We hope to add a new row to a DF
    - but `concat` did not treat the new `Series` as a row
    - a new column was created and misaligned with `df1`
- the reason is that `concat` did not find a common column in `new_series`
    - not like `df1, df2, df3` that have common columns
    - `concat` treat `new_series` in a new column
    
Let's see how we can fix this.

In [56]:
# we need to add common column names 
new_row_data = pd.DataFrame([['n1', 'n2', 'n3', 'n4']],
                            columns=['A', 'B', 'C', 'D'])

# now it is recognized as a row
new_row_data

    A   B   C   D
0  n1  n2  n3  n4

In [57]:
# try concatenation again
# now it works
pd.concat([df1, new_row_data])

/opt/tljh/user/lib/python3.6/site-packages/ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

     A    B    C    D employee        group
0  NaN  NaN  NaN  NaN      Bob   Accounting
1  NaN  NaN  NaN  NaN     Jake  Engineering
2  NaN  NaN  NaN  NaN     Lisa  Engineering
3  NaN  NaN  NaN  NaN      Sue           HR
0   n1   n2   n3   n4      NaN          NaN

# `concat` vs. `append`

- if you try to concatenate multiple things together, you should use `concat`
- if you just try to add one single object to a DataFrame, you can use `append`

In [58]:
# `append()` a DF to another DF
df1.append(df2)

  employee        group  hire_date
0      Bob   Accounting        NaN
1     Jake  Engineering        NaN
2     Lisa  Engineering        NaN
3      Sue           HR        NaN
0      Bob          NaN     2008.0
1     Jake          NaN     2012.0
2     Lisa          NaN     2004.0
3      Sue          NaN     2014.0

In [59]:
# `append()` a new row to a DF
df1.append(new_row_data)

     A    B    C    D employee        group
0  NaN  NaN  NaN  NaN      Bob   Accounting
1  NaN  NaN  NaN  NaN     Jake  Engineering
2  NaN  NaN  NaN  NaN     Lisa  Engineering
3  NaN  NaN  NaN  NaN      Sue           HR
0   n1   n2   n3   n4      NaN          NaN

In [60]:
# `append()` a `dict` to a DF
# note that the row indices are unique now
data_dict = {'A': 'n1', 'B': 'n2', 'C': 'n3', 'D': 'n4'}

df1.append(data_dict, ignore_index=True)

  employee        group    A    B    C    D
0      Bob   Accounting  NaN  NaN  NaN  NaN
1     Jake  Engineering  NaN  NaN  NaN  NaN
2     Lisa  Engineering  NaN  NaN  NaN  NaN
3      Sue           HR  NaN  NaN  NaN  NaN
4      NaN          NaN   n1   n2   n3   n4

In [61]:
# you can use `ignore_index` with `concat` to fix the replicated row indices problem --> use this 99% of the time
pd.concat([df1, df2, df3], ignore_index=True)

/opt/tljh/user/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

   employee        group  hire_date
0       Bob   Accounting        NaN
1      Jake  Engineering        NaN
2      Lisa  Engineering        NaN
3       Sue           HR        NaN
4       Bob          NaN     2008.0
5      Jake          NaN     2012.0
6      Lisa          NaN     2004.0
7       Sue          NaN     2014.0
8       Bob   Accounting     2008.0
9      Jake  Engineering     2012.0
10     Lisa  Engineering     2004.0
11      Sue           HR     2014.0

# Adding Columns
- Concatenate columns are very similar to concatenate rows
    - the main difference is the `axis` parameter in the `concat()` function
    - by default it is `axis = 0` --> always refers to rows
        - so the data object is concatenated in a row-wise fashion
    - if you change it to `axis = 1` --> always refers to columns
        - then we can add columns
    - we add _more columns_ than rows

In [62]:
# Row concatenation
col_concat = pd.concat([df1, df2, df3], axis=1)
col_concat

  employee        group employee  hire_date employee        group  hire_date
0      Bob   Accounting      Bob       2008      Bob   Accounting       2008
1     Jake  Engineering     Jake       2012     Jake  Engineering       2012
2     Lisa  Engineering     Lisa       2004     Lisa  Engineering       2004
3      Sue           HR      Sue       2014      Sue           HR       2014

In [63]:
# if we try to subset columns based on their names
# we get similar results as adding rows
col_concat['A']

KeyError: 'A'

In [ ]:
# Adding a single column to a DF is similar
# we do not have to use any function
# just directly set the values to a list, dict, or a series
col_concat['new_col'] = ['n1', 'n2', 'n3', 'n4'] # --> Use this in coding assignment
col_concat

In [ ]:
# If we try to fix the dupicate column names problem
# we can use `ignore_index` again
pd.concat([df1, df2, df3], axis=1, ignore_index=True)

# Concat with Different Indices
- So far we have assumed that the objects we want to concat has the same column/row names
- That is not always the case in real world
    - we need to address if the column/row names are not aligned

In [ ]:
# concat rows with different column names
# first we pretend the three parts of the data have different column names
df1.columns=['A','B','C','D']
df2.columns=['E','F','G','H']
df3.columns=['A','H','F','C']

# let's take a look at `df2`
# note that the column names have changed
df2

In [ ]:
# now let's try to concat again
row_concat_new = pd.concat([df1, df2, df3])
row_concat_new.head()

# What Happened Above?

- since the columns are not natively aligned, `concat()` attempts to align them, and fill any _missing values_ with `NaN`s. 
- one way to avoid the `NaN`s is to keep only the common columns that the concatenating list shares
    - we can use a parameter `join` in `concat()` to accomplish that
    - for only keeping the common columns/rows, we will set `join=inner`
    - if we do this for `[df1. df2, df3]`, we will get an empty DF since no columns are in common
        - "in common" means that all three DFs contain the same column
    - similarly we can handle this with adding columns of different rows 
        - just add parameter `axis = 1`

In [ ]:
# result in an empty DF
pd.concat([df1, df2, df3], join='inner')

In [ ]:
# `df1` and `df3` have columns in common, 
# we can try to inner-join them
pd.concat([df1, df3], join='inner')

# Merging Multiple Datasets

- The `inner-join` and `outer-join` concepts are borrowed from the database domain
    - we use them to merge database tables
- Combining datasets based on common row/column names are only one type 
    - sometimes we combine different data parts together based on common values
    - e.g., merging _product sales_ and _inventory_ data together using the _product\_ID_
- `Pandas` provides a function `merge()` for that

We will use sets of survey data as an example.

In [ ]:
# read-in different sets
# please change your PATH to `'/srv/data/my_shared_data_folder/ba505-data/DATA'`
# change `DATA` to different file names below
person=pd.read_csv('/srv/data/my_shared_data_folder/ba505-data/survey_person.csv')
site=pd.read_csv('/srv/data/my_shared_data_folder/ba505-data//survey_site.csv')
survey=pd.read_csv('/srv/data/my_shared_data_folder/ba505-data/survey_survey.csv')
visited=pd.read_csv('/srv/data/my_shared_data_folder/ba505-data/survey_visited.csv')

In [ ]:
# test whether the data is correctly read in
person

In [ ]:
# test whether the data is correctly read in
site

In [64]:
# test whether the data is correctly read in
survey.head()

NameError: name 'survey' is not defined

In [ ]:
# test whether the data is correctly read in
visited.head()

# What Does `Merge` Do?

- `.merge()` is a `pandas` method
- If data is given in different parts, if we want to look at the `dates` of each `site` along with longitute(`long`) and altitude (`alt`), we need to merge different parts togehter.
- In general there are three types of merge in `pandas`
    - one-to-one merge
    - Many-to-one merge
    - Many-to-many merge

In [ ]:
# One-to-one merge
# let's create a subset of `visited` first and merge it with `site`

visited_sub = visited.loc[[0, 2, 6]]
visited_sub

In [ ]:
# we merge `site` and `visited` together
# the common columns are `name` in `site` and `site` in `visited_sub`
# note that we borrow a concept from database 
# merge counts for left and right - what left/right on the merge method
o2o = site.merge(visited_sub, left_on=['name'], right_on=['site'])
o2o

## Your Turn Here

Can you tell in above `.merge()` example, which one is _left_ and which one is _right_?

In [ ]:
# Many-to-one merge
# the original 'visited' DF contains duplicate values in the `site` column
# if we do not subset the DF that becomes a many-to-one merge
m2o = site.merge(visited, left_on='name', right_on='site')
m2o

## Your Turn Here
Can you explain why we have a `NaN` value above?

# Many-to-many merge
 - Please refer to the example on pp.105 in PD4E
 - Explain how it works

# Your Turn Here
Finish exercises below by following instructions of each of them.

## Q1. Coding Problem

### Part 1: Concat by Rows

- Use `pd.concat` by adding the two partial DFs by rows.
- The output should look like below:
    - Pay attention to the __indices__ (non-repeat)


| <br>| employee | department  |
| --- | -------- | ----------- |
|  0  | Bob      | Accounting  |
|  1  | Jake     | Engineering |
|  2  | Lisa     | Engineering |
|  3  | Susan    | HR          |

In [ ]:
# define two parts of df1
df1_1 = pd.DataFrame({'employee': ['Bob', 'Jake'],
                    'group': ['Accounting', 'Engineering']})

df1_2 = pd.DataFrame({'employee': ['Lisa', 'Sue'],
                    'group': ['Engineering', 'HR']})
print('df1_1')
print(df1_1)
print('df1_2')
print(df1_2)

In [ ]:
# combine `df1_1` and `df1_2` into `df1`
df1=pd.concat([df1_1, df1_2], ignore_index=True)
df1

### Part 2a: Concat by Columns
- Use `pd.concat` to merge `df2` with `df1` above as `df3`
- `df3` should look like below:

| <br>| employee | department  | hire_date |
| --- | -------- | ----------- | --------- |
|  0  | Bob      | Accounting  | 2008      |
|  1  | Jake     | Engineering | 2012      |
|  2  | Lisa     | Engineering | 2004      |
|  3  | Susan    | HR          | 2014      |

In [ ]:
# define `df2`

df2 = pd.DataFrame({'employee': ['Lisa', 'Bob', 'Jake', 'Sue'],
                    'hire_date': [2004, 2008, 2012, 2014]})
df2

In [ ]:
df2.sort_values(by='employee', inplace=True)
df2.reset_index(inplace=True)
df2=df2[['employee', 'hire_date']]

In [ ]:
# combine `df1` and `df2` as `df3`
df3 = pd.concat([df1, df2], axis=1)
df3 = df3.iloc[:,[0,1,3]]
df3

### Part 2b: Merge Columns with `on` keyword
- Use `pd.merge`  with the `on` keyword to merge `df2` with `df1` above as `df3a`
- `df3a` should look like below:

| <br>| employee | department  | hire_date |
| --- | -------- | ----------- | --------- |
|  0  | Bob      | Accounting  | 2008      |
|  1  | Jake     | Engineering | 2012      |
|  2  | Lisa     | Engineering | 2004      |
|  3  | Susan    | HR          | 2014      |

In [ ]:
# combine `df1` and `df2` as `df3a`
df3a = df1.merge(df2)
df3a

### Part 3: Many-to-One Merge
- Use `pd.merge` to merge `df4` with `df3` above as `df5`
- `df5` should look like below:

| <br>| employee | department  | hire_date | supervisor |
| --- | -------- | ----------- | --------- | ---------- |
|  0  | Bob      | Accounting  | 2008      | Carly      |
|  1  | Jake     | Engineering | 2012      | Guido      |
|  2  | Lisa     | Engineering | 2004      | Guido      |
|  3  | Susan    | HR          | 2014      | Steve      |

In [ ]:
# define `df4`
df4 = pd.DataFrame({'group': ['Accounting', 'Engineering', 'HR'],
                    'supervisor': ['Carly', 'Guido', 'Steve']})
df4

In [ ]:
# combine `df3` and `df4` as `df5`
df5=df3.merge(df4)
df5

### Part 4: Merge with `left_on` and `right_on` keywords

- Use `pd.merge` with the `left_on` and `right_on` keywords to merge `df6` with `df5` above as `df7`
- `df7` should look like below:

| <br>| employee | department  | hire_date | supervisor | salary |
| --- | -------- | ----------- | --------- | ---------- | ------ |
|  0  | Bob      | Accounting  | 2008      | Carly      | 70000  |
|  1  | Jake     | Engineering | 2012      | Guido      | 80000  |
|  2  | Lisa     | Engineering | 2004      | Guido      | 120000 |
|  3  | Susan    | HR          | 2014      | Steve      | 90000  |

In [65]:
# define `df6`
df6 = pd.DataFrame({'name': ['Bob', 'Jake', 'Lisa', 'Sue'],
                    'salary': [70000, 80000, 120000, 90000]})
df6

   name  salary
0   Bob   70000
1  Jake   80000
2  Lisa  120000
3   Sue   90000

In [66]:
# combine `df5` and `df6` as `df7`
df7=df5.merge(df6, left_on='employee', right_on='name')
df7=df7.iloc[:,[0,1,2,3,5]]
df7

  employee        group  hire_date supervisor  salary
0      Bob   Accounting       2008      Carly   70000
1     Jake  Engineering       2012      Guido   80000
2     Lisa  Engineering       2004      Guido  120000
3      Sue           HR       2014      Steve   90000

### Part 5: Many-to-many Merge

- Use `pd.merge` with the `left_on` and `right_on` keywords to merge `df8` with `df7` above as `df9`
- `df9` should look like below:

| <br>| employee | department  | hire_date | supervisor | salary | skills   |
| --- | -------- | ----------- | --------- | ---------- | ------ | -------- |
|  0  | Bob      | Accounting  | 2008      | Carly      | 70000  | math     |
|  1  | Bob      | Accounting  | 2008      | Carly      | 70000  | spreadsheets |
|  2  | Jake     | Engineering | 2012      | Guido      | 80000  | coding |
|  3  | Jake     | Engineering | 2012      | Guido      | 80000  | linux |
|  4  | Lisa     | Engineering | 2004      | Guido      | 120000 | coding |
| 5  | Lisa     | Engineering | 2004      | Guido      | 120000 | linux |
|  6  | Susan    | HR          | 2014      | Steve      | 90000  | spreadsheets |
|  7  | Susan    | HR          | 2014      | Steve      | 90000  | management |

In [67]:
# define `df8`
df8 = pd.DataFrame({'group': ['Accounting', 'Accounting',
                              'Engineering', 'Engineering', 'HR', 'HR'],
                    'skills': ['math', 'spreadsheets', 'coding', 'linux',
                               'spreadsheets', 'management']})

df8

         group        skills
0   Accounting          math
1   Accounting  spreadsheets
2  Engineering        coding
3  Engineering         linux
4           HR  spreadsheets
5           HR    management

In [68]:
# combine `df7` and `df8` as `df9`
df9=df7.merge(df8, left_on='group', right_on='group')
df9

  employee        group  hire_date supervisor  salary        skills
0      Bob   Accounting       2008      Carly   70000          math
1      Bob   Accounting       2008      Carly   70000  spreadsheets
2     Jake  Engineering       2012      Guido   80000        coding
3     Jake  Engineering       2012      Guido   80000         linux
4     Lisa  Engineering       2004      Guido  120000        coding
5     Lisa  Engineering       2004      Guido  120000         linux
6      Sue           HR       2014      Steve   90000  spreadsheets
7      Sue           HR       2014      Steve   90000    management

### Part 6: Overview of Combined DF

- Check the dimensionalities of `df9` (`.shape()`)
- Check the unique values and their counts of `df9.skills` (`.value_counts()`)
- check the average `salary` in `df9`

__Use the code block below for this part. __

In [69]:
# Write your code here
df9
df9.skills
df9['salary'].mean()

90000.0

![DSB logo](img/Dolan.jpg)
# Assemble Data Together

## PD4E Chapter 4: Data Assembly
### How do you read/manipulate/store data in Python?

![DSB logo](img/Dolan.jpg)
# Handle Missing Values

## PD4E Chapter 5: Missing Data
### How do you read/manipulate/store data in Python?

# What You Learned in Python/Pandas that could Apply Here

You will need following knowledge from the first half of this course:
1. importing packages
2. slicing/indexing data
3. using functions/methods
4. using paramters in functions/methods

# What You will Learn in this Chapter
You will learn following techniques in this chapter:
1. what is a __missing vale__
2. How __missing values__ are generated
3. How to recode and calculate __missing data__

# What is Missing Value?
- The `NaN` values we have seen multiple times in this course is how `pandas` display __missing values__
    - There are other ways of displaying missing values: `NaN, NAN, nan`
- Missing values __do not equal to__ anything
    - `NaN` does not equal to `0`, `''` (an empty string) or `[]` (an empty list)

In [70]:
from numpy import NaN, NAN, nan
# later on if you want to use `NumPy`, 
# please use the statement below
# import numpy as np

In [71]:
# `NaN` is not `True` 
NaN == True

False

In [72]:
# `NaN` is not `False` 
NaN == False

False

In [73]:
# `NaN` is not `0` 
NaN == 0

False

In [74]:
# `NaN` is not `''` 
NaN == ''

False

In [75]:
# `NaN` is not `[]` 
NaN == []

False

In [76]:
# NaN is not even NaN !!!
NaN == NaN

False

In [77]:
# `pandas` has its own way to test missing values
pd.isna(NaN)

True

# Where do Missing Values Come From?

- Missing data are generated 
    - when we load a dataset containing missing values
    - or when we munging data like we did in Chap. 4
- Some machine learning techniques do not like missing data
    - handling missing data is an important topic covered in BA 545

# Loading Data with Missing Values

- `Pandas` will automatically detect any missing values (__NOT Recommended__)
    - For instance, in the `read_csv()` method, there are different parameters to handle missing data (pp. 111)
    - In analytical practice, since we need handle missing data caused by different reasons with different methods
    - That's why we will read in the missing values directly, and handle them later
- Other reason you would generate missing data in `pandas` include _merge data_, _user input values_, and _re-indexing_
    - we saw examples of these reasons already, if you want more examples please refer to PD4E (pp. 113 - 116)

# Working with Missing Data

- In general, there are two parts when we "work with" missing data
    - detecting missing data
    - handling missing data

# Detecting Missing Data
- There are in general two types of detecting
    - Is there any missing data in the DF?
    - How much missing data are we dealing with in the DF?
    - `pandas` provides two methods `.isna()` and `.isnul()` - which are basically the same
    - I suggest you use the former __ALWAYS__

In [78]:
# Let's load another DF with missing values
# from direct observation of the first 5 rows 
# we can see `NaN`s - but that's not always the case
# please change your PATH to `'/srv/data/my_shared_data_folder/ba505-data/country_timeseries.csv'`
ebola_df = pd.read_csv('./data/country_timeseries.csv')
ebola_df.head()

FileNotFoundError: [Errno 2] File b'./data/country_timeseries.csv' does not exist: b'./data/country_timeseries.csv'

In [ ]:
# Recommended way of detecting missing values --> column wise
# `True` means there are missing values
ebola_df.isna().any()

In [ ]:
# the `.info()` method is one way of detecting missing values
# not very direct
ebola_df.info()

In [ ]:
# following is the recommended way
# each value refers to how many missing values in the column
ebola_df.isna().sum()

In [ ]:
# We can even look at the ratio of missingness 
# Why following code works?
(ebola_df.isna().sum()/ebola_df.shape[0]).round(4) * 100

In [ ]:
# or an easier solution
ebola_df.isna().mean().round(4) * 100

# Handling Missing Data
- There are a few strategy we can handle missing data:
    - Recode/Replace: set the missing value with another value
    - Fill forward: use the last known value to replace the missing value
    - Fill backward: use the next known value to replace the missing value
    - Interpolate: fills missing values linearly
    - Drop missing values: remove the row/column containing the missing value(s)
        - only do this when none of above works
- More to come in BA 545 
    - handling missing data is a __must-have__ step

In [ ]:
# Replace missing values with fixed value `0`
# the term is called 'impute'
# whenever we want to fill in a value that's not a number, we use fillna
ebola_df_imputed = ebola_df.fillna(0)
ebola_df_imputed.head().iloc[:,:5]

In [ ]:
# normally when we deal with continuous values here
# we use mean/average to replace missing values
ebola_guinea = ebola_df.Cases_Guinea.fillna(ebola_df.Cases_Guinea.mean())
ebola_guinea.head(10)

In [ ]:
# fill forward
# Why we still have missing values here?
ebola_df_ffill = ebola_df.fillna(method='ffill')
ebola_df_ffill.head().iloc[:,:5]

In [ ]:
# fill backward
# Why we still have missing values here?
ebola_df_bfill = ebola_df.fillna(method='bfill')
ebola_df_bfill.tail().iloc[:,:5]

In [ ]:
# interpolate
# Why we still have missing values here?
ebola_df.interpolate().iloc[:10, :10]

In [ ]:
# Drop missing values
ebola_deaths_mali = ebola_df.Deaths_Mali
ebola_deaths_mali.shape

In [ ]:
ebola_deaths_mali_dropna = ebola_deaths_mali.dropna()
ebola_deaths_mali_dropna.shape

In [ ]:
# let's test if we have any missing values retained
ebola_deaths_mali_dropna.isnull().any()

# Your Turn Here
Finish exercises below by following instructions of each of them.

## Q1. Coding Problem

Detecting and handling the missing data in the _weather_ dataset.

### Part 1: Detecting Missing Data
1. Find the absolute numbers of missing values in each column of the _weather_ dataset.
2. Find the percentages of missing values in each column of the _weather_ dataset.

In [ ]:
# Read-in data
# please change your PATH to `'/srv/data/my_shared_data_folder/ba505-data/weather.csv'`
weather_data = pd.read_csv('/srv/data/my_shared_data_folder/ba505-data/weather.csv')
weather_data.head()

In [79]:
# write your code here
import numpy as np
missing=weather_data.shape[0] - weather_data.count()
missing

id          0
year        0
month       0
element     0
d1         20
d2         18
d3         18
d4         20
d5         14
d6         20
d7         20
d8         20
d9         22
d10        20
d11        20
d12        22
d13        20
d14        18
d15        20
d16        20
d17        20
d18        22
d19        22
d20        22
d21        22
d22        22
d23        18
d24        22
d25        20
d26        20
d27        16
d28        20
d29        18
d30        20
d31        20
dtype: int64

### Part 2: Handling Missing Data
1. Replace missing values in column `d5` with the mean/average of the column.
2. Forward fill missing values in column `d14`.
3. Backward fill missing values in column `d2`.
4. Interpolate missing values in column `d3`.
5. Drop columns is the missing value ratio is at `100%`.

__NOTE__: create a copy of the dataset `weather_data_copy` for these tasks.

In [90]:
# write your code here
weather_data_copy = weather_data.copy()
mean=weather_data_copy['d3'].mean()
weather_data_copy['d14']=weather_data_copy.fillna(method='ffill')
weather_data_copy['d2']=weather_data_copy.fillna(method='backfill')
weather_data_copy['d3']=weather_data_copy.fillna(mean)
weather_data_copy= weather_data_copy.dropna(thresh=len(weather_data_copy), axis=1)
weather_data_copy

         id  year  month element       d2       d3      d14
0   MX17004  2010      1    tmax  MX17004  MX17004  MX17004
1   MX17004  2010      1    tmin  MX17004  MX17004  MX17004
2   MX17004  2010      2    tmax  MX17004  MX17004  MX17004
3   MX17004  2010      2    tmin  MX17004  MX17004  MX17004
4   MX17004  2010      3    tmax  MX17004  MX17004  MX17004
5   MX17004  2010      3    tmin  MX17004  MX17004  MX17004
6   MX17004  2010      4    tmax  MX17004  MX17004  MX17004
7   MX17004  2010      4    tmin  MX17004  MX17004  MX17004
8   MX17004  2010      5    tmax  MX17004  MX17004  MX17004
9   MX17004  2010      5    tmin  MX17004  MX17004  MX17004
10  MX17004  2010      6    tmax  MX17004  MX17004  MX17004
11  MX17004  2010      6    tmin  MX17004  MX17004  MX17004
12  MX17004  2010      7    tmax  MX17004  MX17004  MX17004
13  MX17004  2010      7    tmin  MX17004  MX17004  MX17004
14  MX17004  2010      8    tmax  MX17004  MX17004  MX17004
15  MX17004  2010      8    tmin  MX17004  MX17004  MX17004
16  MX17004  2010     10    tmax  MX17004  MX17004  MX17004
17  MX17004  2010     10    tmin  MX17004  MX17004  MX17004
18  MX17004  2010     11    tmax  MX17004  MX17004  MX17004
19  MX17004  2010     11    tmin  MX17004  MX17004  MX17004
20  MX17004  2010     12    tmax  MX17004  MX17004  MX17004
21  MX17004  2010     12    tmin  MX17004  MX17004  MX17004

### Part 3: Checking Missing Data Again
1. Check the percentages of missing values of each column in `weather_data_copy` after __imputation__.

In [92]:
# write your code here
weather_data_copy.isnull().any()

id         False
year       False
month      False
element    False
d2         False
d3         False
d14        False
dtype: bool

# Classwork (start here in class)
You can start working on them right now:
- Read Chapters 4 & 5 in PD4E 
- If time permits, start in on your homework. 
- Ask questions when you need help. Use this time to get help from the professor!

# Homework (do at home)
The following is due before class next week:
  - Any remaining classwork from tonight
  - DataCamp Visualizing a Categorical and a Quantitative Variable assignment

Note: All work on DataCamp is logged. Don't try to fake it!

Please email [me](mailto:jtao@fairfield.edu) if you have any problems or questions.

![DSB logo](img/Dolan.jpg)
# Handle Missing Values

## PD4E Chapter 5: Missing Data
### How do you read/manipulate/store data in Python?